doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')

        link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        title Peersity

        //Background Look
        link(href='/stylesheets/background.css', rel='stylesheet')
        link(href='/stylesheets/admin.css', rel='stylesheet')

    body
        nav.navbar.sticky-top.navbar-expand-md.bg-dark.navbar-dark
            a.navbar-brand(href='/', class="w3-lobster") Peersity
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.navbar-collapse.collapse
                div.mr-auto(style="width: 300px;")
                    ul.navbar-nav
                        li
                            a.nav-link(href='/home',style="padding-left: 20px") Home
                        li
                            a.nav-link(href='/overview',style="padding-left: 20px") Overview

                        if user
                            if user.isAdmin
                                li
                                    a.nav-link(href='/admin',style="padding-left: 20px") Admin
                        if !user
                            li
                                a.nav-link(href='users/register',style="padding-left: 20px") Register
                            li
                                a.nav-link(href='users/login',style="padding-left: 20px") Login
                ul.navbar-nav
                    if user
                        if (user.isRequested)
                            .btn-group
                                a.btn.btn-success(href='#', style="margin-right: 20px;")
                                    | New Notification &#10071
                        .btn-group
                            a.btn.btn-danger(href='users/logout')
                                | Logout

        a(href='/home')
          button.btn.btn-primary.done(type='button') Done
        h2.page-header.adminh2.under-nav Control Panel

      form.under-nav(method='post', action='/admin/success')
        .form-group
        label Applicant's Email
        input.form-control(name='applicant', type='text')
        .form-group
        label Class
        input.form-control(name='coursename', type='text')
        .form-group
        input.btn.btn-primary.buttons(type='submit', name='submit', value='Add Class to Tutor profile')


      form.under-nav(method='post', action='/admin/decline')
        .form-group
        label Applicant's Email
        input.form-control(name='DeclineApplicant', type='text')
        .form-group
        input.btn.btn-primary.buttons-red(type='submit', name='activate', value='De-activate Tutor Status')


      form.under-nav(method='post', action='/admin/reactivate')
        .form-group
        label Applicant's Email
        input.form-control(name='ReactivateApplicant', type='text')
        .form-group
        input.btn.btn-primary.buttons(type='submit', name='re-activate', value='Re-activate Tutor Status')
