doctype html
html(lang='en',  id='HTML')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/chat.css')
        link(rel='stylesheet', href='/stylesheets/background.css')
        link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/twilioVideo.css')

        title Peersity


        // Firebase
        script(src='https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js')
        // <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-auth.js"></script>
        script(src='https://www.gstatic.com/firebasejs/7.4.0/firebase-database.js')
        // CodeMirror and its JavaScript mode file
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/mode/javascript/javascript.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css')
        // Firepad
        link(rel='stylesheet', href='https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css')
        script(src='https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js')
        style.
          html { height: 100%; }
          body { margin: 0; height: 100%; position: relative; }
          /* Height / width / positioning can be customized for your use case.
          For demo purposes, we make firepad fill the entire browser. */
          #firepad-container {
          width: 100%;
          height: 100%;
          }
    body(onload='init()')
        nav.navbar.sticky-top.navbar-expand-md.bg-dark.navbar-dark
            a.navbar-brand(href='/', class="w3-lobster") Peersity
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.navbar-collapse.collapse
                div.mr-auto(style="width: 300px;")
                    ul.navbar-nav
                        li
                            a.nav-link(href='/home',style="padding-left: 20px") Home
                        li
                            a.nav-link(href='/overview',style="padding-left: 20px") Overview

                        if user
                            if user.isAdmin
                                li
                                    a.nav-link(href='/admin',style="padding-left: 20px") Admin
                        if !user
                            li
                                a.nav-link(href='users/register',style="padding-left: 20px") Register
                            li
                                a.nav-link(href='users/login',style="padding-left: 20px") Login
                ul.navbar-nav
                    if user
                        .btn-group
                            a.btn.btn-danger(href='users/logout')
                                | Logout

    if (user.isRequested)
        div(id='waiting_screen', style = "display:block;")
          .card.middleNote(style='width: 30rem; background-color: black;')
            .card.text-center
                .card-header(style="border-style: none; font-size: 20px; font-weight: 10px")
                    | Your tutoree is on the way...
                .card-body(style="border-style: none;")
                    .spinner-border(style="color: black")

        div(id='chatpage', style = "display:none;")
            #top-div
              #slideout-menu
                div#verticalText
                  p Settings
                #slideout_inner
                  #preview
                    button#button-preview Preview My Camera
                    button#stop-preview Stop Preview
                  form(method='post', action='/chat', class='')
                    input.btn.btn-primary(id='leave', type='submit', value = 'Leave')
                  button#button-join Join Video Call
                  button#button-leave Leave Video Call

              #selfie-media

            #bottom-div
              div(id='chatpage')

                div(id='joinedroom')
                div(id='the-chat')

                  div(id='chat-window')
                    div(id='output')
                      ul.chats(id ='ulId')
                      // The chat messages will go here
            #chatform
              input(id='handle', type='text', value = user.name, style= 'width: 0px; visibility: hidden;')
              input(id='message', type='text')
              button(id='send' value='Send') Send
            #controls

    else
        div(id='chatpage', style = "display:block;")
            #top-div
              #slideout-menu
                div#verticalText
                  p Settings
                #slideout_inner
                  #preview
                    button#button-preview Preview My Camera
                    button#stop-preview Stop Preview
                  form(method='post', action='/chat', class='')
                    input.btn.btn-primary(id='leave', type='submit', value = 'Leave', onclick="window.location.href = 'http://localhost:6969/home';")
                  button#button-join Join Video Call
                  button#button-leave Leave Video Call

              #selfie-media

            #bottom-div
              div(id='chatpage')

                div(id='joinedroom')
                div(id='the-chat')

                  div(id='chat-window')
                    div(id='output')
                      ul.chats(id ='ulId')
                      // The chat messages will go here
            #chatform
              input(id='handle', type='text', value = user.name, style= 'width: 0px; visibility: hidden;')
              input(id='message', type='text')
              button(id='send' value='Send') Send
            #controls


    script(src="/socket.io/socket.io.js")
    script.
        var socket = io.connect('http://localhost:6969')
        socket.emit('subscribe', {
            room: '#{user.room}',
            name: '#{user.name}'
        })
        socket.on('enterChat', function(data) {
            document.getElementById('chatpage').style.display = "block";
            document.getElementById('waiting_screen').style.display = "none";
        })
        function init() {
        //// Initialize Firebase.
        //// TODO: replace with your Firebase project configuration.
        var config = {
          apiKey: "AIzaSyCKpx6GgatAknV55PEc80fWZ5QonZ_9a3o",
          authDomain: "peersity-5a16a.firebaseapp.com",
          databaseURL: "https://peersity-5a16a.firebaseio.com",
          projectId: "peersity-5a16a",
          storageBucket: "peersity-5a16a.appspot.com",
          messagingSenderId: "157406510234",
          appId: "1:157406510234:web:303dc2e7fadf50a14fb323",
          measurementId: "G-52KF3VD8QL"
        };
        firebase.initializeApp(config);
        //// Get Firebase Database reference.
        var firepadRef = getExampleRef();
        //// Create CodeMirror (with line numbers and the JavaScript mode).
        var codeMirror = CodeMirror(document.getElementById('bottom-div'), {
        lineNumbers: true,
        mode: 'javascript'
        });
        //// Create Firepad.
        var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
        defaultText: '// JavaScript Editing with Firepad!\\nfunction go() {\n  var message = "Hello, world.";\n  console.log(message);\n}'
        });
        }
        // Helper to get hash from end of URL or generate a random one.
        function getExampleRef() {
        var ref = firebase.database().ref();
        var hash = window.location.hash.replace(/#/g, '');
        if (hash) {
        ref = ref.child(hash);
        } else {
        ref = ref.push(); // generate unique location.
        window.location = window.location + '#' + '#{user.room}'; // add it as a hash to the URL.
        }
        if (typeof console !== 'undefined') {
        console.log('Firebase data: ', ref.toString());
        }
        return ref;
        }
    script(src="/javascripts/chatClient.js")
    script(src='/javascripts/bundle.js')
