extends layout
block content
	h2.page-header Checkout Page
	form#checkout(method='post', action='/checkout')
		.form-group
			label Payment Form:
		#payment-form
		input.btn.btn-primary(type='submit', name='submit',value='Pay $10')
		input.btn.btn-primary(type='submit', name='submit',value='#{token}', id= 'anything', style = "width: 0px; visibility: hidden;")

	script(src='https://js.braintreegateway.com/js/braintree-2.32.1.min.js')
	script.
		var tokenValue = document.getElementById('anything').value;
		document.getElementById('anything').value = ""
		braintree.setup(tokenValue, "dropin", {
		container: "payment-form"
		});

