doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')

        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        //Background Look
        link(href='/stylesheets/background.css', rel='stylesheet')
        link(href='/stylesheets/slider.css', rel='stylesheet')
        link(href='/stylesheets/home.css', rel='stylesheet')

        //Socket Funcionality import
        script(src="/socket.io/socket.io.js")
        title Peersity


    body
        nav.navbar.sticky-top.navbar-expand-md.bg-dark.navbar-dark
            a.navbar-brand(href='/', class="w3-lobster") Peersity
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.navbar-collapse.collapse
                div.mr-auto(style="width: 300px;")
                    ul.navbar-nav
                        li
                            a.nav-link(href='/home',style="padding-left: 20px") Home
                        li
                            a.nav-link(href='/overview',style="padding-left: 20px") Overview

                        if user
                            if user.isAdmin
                                li
                                    a.nav-link(href='/admin',style="padding-left: 20px") Admin
                        if !user
                            li
                                a.nav-link(href='users/register',style="padding-left: 20px") Register
                            li
                                a.nav-link(href='users/login',style="padding-left: 20px") Login
                ul.navbar-nav
                    if user
                        li
                            a.nav-link(href='users/logout',style="padding-left: 20px") Logout

        button#myButton.float-left.submit-button(onclick="location.href = 'http://localhost:6969/home/test';") Home

        if (user.isTutor)


            b(style = "text-align: center;")
                if (user.isRequested)
                    form(method='post', action='/home')
                        input.btn.btn-primary(type='submit', name='isRequested', value = 'You have been requested', id = studentRequest)
            button(type=submit, id='TutorAsUser') Set Status to User
            button(type=submit, id='TutorAsTutor') Set Status to Tutor

      .card.border-0.middle(style='width: 30rem;')
        div(id="header")
            h2.page-header(style = "text-align: center; padding-top: 50px; color: white; font-size: 40px", class="w3-lobster").
                Welcome to Peersity!

        div.shadow-lg.p-3.mb-5.rounded(id="popup", style = "display:none;")
            .card.text-center
                .card-header(style="background-color: yellow; font-size: 20px; font-weight: 10")
                    | You have been requested &#10071
                .card-body
                    h5.card-title Math 1554
                    p.card-text Q: What does it mean for something to be row equivalent?
                .card-footer
                    a.btn.btn-primary(id = 'accept', href='/chat', onclick = "javascript: form.action = '/chat';", style="background-color: green; border-color: green; float: left", class="w3-lobster") Accept
                    a.btn.btn-primary(id = 'decline', href='#', style="background-color: red; border-color: red; float: right", class="w3-lobster") Decline

        div(id="original_panel")
            //img.card-img-top(src='#', alt='...')

            ul.list-group.list-group-flush
              form(method='get')
                if user.hasApplied
                  div(class="padding")
                    button.btn.btn-primary.button_attributes(type = 'submit', onclick = "javascript: form.action = '/findatutor';" name='find',  id = 'button1') Find a Tutor
                if user.hasApplied == false
                  div(class="padding",style="padding-top: 50px;")
                      button.btn.btn-primary.button_attributes(type = 'submit', onclick = "javascript: form.action = '/findatutor';" name='find',  id = 'button1') Find a Tutor
                  div(class = "padding")
                      button.btn.btn-primary.button_attributes(type = 'submit', onclick = "javascript: form.action = '/apply';"  name='become', value = 'Become a Tutor', id = 'button2') Become a Tutor
                div(class = "padding")
                    button.btn.btn-primary.button_attributes(type = 'submit', onclick = "javascript: form.action = '/payment';"  name='pay', value = 'Buy Minutes!') Buy Minutes!


        div.togglepos(id="spbutton")
            form(method='post', action='/home/available')
                input.btn.btn-primary(type='submit', id='green')

    div.modal(id="myModal", tabindex='-1')
        .modal-content
            .modal-header
                h5.modal-title Are you sure you want to decline this request?
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(id="exit1", aria-hidden='true') ×
            .modal-footer
                button.btn.btn-primary(type='button') Yes, I'm sure.
                button.btn.btn-secondary(id="exit2", type='button', data-dismiss='modal') Close


        script(src="/socket.io/socket.io.js")
        script.
            var num = 0;
            function activateNotification() {
                document.getElementById('popup').style.display = "block";
                document.getElementById('original_panel').style.display = "none";
                document.getElementById('spbutton').style.display = "none";
                document.getElementById('header').style.display = "none";
            }
            var toggle = document.getElementById('green');
            var URL = 'http://localhost:6969/home/available';
            toggle.addEventListener("click", function (event) {
                //socket phone compatability right below
                //var socket = io.connect('http://192.168.43.117:6969');
                var socket = io.connect('http://localhost:6969');
                var roomNumber = Math.floor((Math.random() * 1000000) + 1);
                num = roomNumber;
                console.log('The tutor is joining room ' + roomNumber)
                //use a random # generator
                var obj = {
                    room: roomNumber
                };
                event.preventDefault();
                    $.ajax({
                        url: URL,
                        type: "POST",
                        data: JSON.stringify(obj),
                        contentType: "application/json",
                        success: function() {
                            socket.emit('subscribe', {
                                room: roomNumber,
                                name: '#{user.name}'
                            })

                        },
                        error: function() {
                            console.log("CMON! nabbit, ya gotta issue with ur ajax request")
                        }
                    });
                    socket.on('notify', function(data) {
                        //We have access to some 'data' if we need it.
                        activateNotification();
                    })
            })

            //START-All JS code involving acceptedRequest
            var acceptBtn = document.getElementById('accept')
            var socket = io.connect('http://localhost:6969');

            acceptBtn.addEventListener("click", function(event) {
                socket.emit('notify', {
                    room: num,
                    message: 'You have been requested',
                })
                console.log('I choose to accept this request: ' + num)
            })
            //END-All JS code involving acceptedRequest

            //START-All JS code involving Popup
            var modal = document.getElementById("myModal");
            var declineBtn = document.getElementById("decline");
            var exit1 = document.getElementById("exit1");
            var exit2 = document.getElementById("exit2");
            declineBtn.onclick = function() {
              modal.style.display = "block";
            }
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
            exit1.onclick = function(event) {
              if (event.target == exit1) {
                modal.style.display = "none";
              }
            }
            exit2.onclick = function(event) {
              if (event.target == exit2) {
                modal.style.display = "none";
              }
            }
            //END-All JS code involving Popup
            //start Tutor state setting here
            var TutorAsTutor = document.getElementById("TutorAsTutor")
            var TutorAsUser = document.getElementById("TutorAsUser")
            TutorAsTutor.addEventListener('click', function() {
            $.ajax({
                url: 'http://localhost:6969/home/settingToTutor',
                type: "POST",
                contentType: "application/json",
                error: function() {
                    console.log("CMON! nabbit, ya gotta issue with ur ajax request")
                }
            });
            })
            TutorAsUser.addEventListener('click', function() {
            $.ajax({
                url: 'http://localhost:6969/home/settingToUser',
                type: "POST",
                contentType: "application/json",
                error: function() {
                    console.log("CMON! nabbit, ya gotta issue with ur ajax request")
                }
            });
            })
            //end tutor state setting



    .container
        != messages()
    block content


        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
