doctype html
html(lang='en')
	head
		// Required meta tags
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

		// Bootstrap CSS
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
		link(href='https://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		title Peersity

		//Background Look
		link(href='/stylesheets/overview.css', rel='stylesheet')

		//JS Affects
		//script(src='javascripts/overview.js')



	body
		nav.navbar.sticky-top.navbar-expand-md.bg-dark.navbar-dark
			a.navbar-brand(href='/home', class="w3-lobster") Peersity
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNavDropdown.navbar-collapse.collapse
				div.mr-auto(style="width: 300px;")
					ul.navbar-nav
						li
							a.nav-link(href='/home',style="padding-left: 20px") Home
						li
							a.nav-link(href='/overview',style="padding-left: 20px") Overview

						if user
							if user.isAdmin
								li
									a.nav-link(href='/admin',style="padding-left: 20px") Admin
						if !user
							li
								a.nav-link(href='/users/register',style="padding-left: 20px") Register
				ul.navbar-nav
					if user
						a.fa.fa-instagram(href='https://www.instagram.com/peersity_/')
						a.fa.fa-twitter(href='https://twitter.com/peersity')
						.btn-group
							a.btn.btn-success(href='#', style="margin-right: 20px;")
								| New Notification &#10071
						.btn-group
							a.btn.btn-danger(href='users/logout')
								| Logout
						
						


		#myDIV
			a.btn.active.selections(href='#slide-1')
			a.btn.selections(href='#slide-2')
			a.btn.selections(href='#slide-3')
			a.btn.selections(href='#slide-4')
			.slides
				#slide-1
					div(style='height:0px;background-color:#4ec2ed;font-size:36px; color: white; text-align:center;')
						.typewriter.card.border-0.welcomeoverview
							h1(class="line-1 anim-typewriter", style="margin-top:0%; font-family: Arial; font-weight: lighter; font-size: 8vw;") Welcome to Peersity
				#slide-2
					.card.border-0(style='width: 45rem; position: relative; background-color: orange')		
							b(style='text-align: center; color: white; font-size: 7vw;').
								Find a Class.
							p(style='text-align: center; font-size: 20px').
								There are a host of courses that we can support you with.

				#slide-3
					.card.border-0(style='width: 45rem; position: relative; background-color: orange')		
							b(style='text-align: center; color: white; font-size: 7vw;').
								Find a Tutor.
							p(style='text-align: center; font-size: 20px; padding: 10px;').
								Our tutors have been through the battles that you are facing right now, so seek help from our solid list of tutors.

				#slide-4
					.card.border-0(style='width: 50rem; position: relative; background-color: orange')		
							b(style='text-align: center; color: white; font-size: 7vw;').
								Start a Session.
							p(style='text-align: center; font-size: 20px; padding: 10px;') Once you find a tutor to suit your needs, they will join you on the chat page to assist you!
							a(href='/users/register')
								button.btn-primary.overviewButton(type="button", style="width:200px; height: 50px; color: black;") Get Started



		script.
			// Add active class to the current button (highlight it)
			var header = document.getElementById("myDIV");
			var btns = header.getElementsByClassName("btn");
			for (var i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", function() {
			var current = document.getElementsByClassName("active");
			current[0].className = current[0].className.replace(" active", "");
			this.className += " active";
			});
			}









		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')


